img {
    width: 100px;
    height: 100px;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;

}

.hero {
    display: flex;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 0 75px;
}

.hero-right {
    background-color: gray;
    height: 150px;
    width: 400px;
    flex-shrink: 0;
    display: flex;
    padding: 75PX 75px;

}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}


.header, .hero, .footer {
    background-color: #1f2937;
}

.nav-left, .rectangle-head {
    font-size: 24px;
    color: #f9faf8;
    /* padding-left: 50px; */
}


.info-text {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

a, .text, .gray-image, .footer, .rectangle {
    font-size: 18px;
    color: #e5e7eb;
}

.black {
    display: flex;
    
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.rectangle {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.gray {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 0 200px;
}

.quote-by {
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

button {
    color: #3882f6;
    padding: 16px 32px;
}

ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
}